# Node
node_modules/
package-lock.json
build/
frontend/build/
frontend/node_modules/
frontend/package-lock.json
amplify/
amplify/*
frontend/.amplify/

# Serverless
.serverless/
.aws-sam/
coverage/
.env
.env.*
!.env.example

# Logs
logs
*.log
lerna-debug.log
*.zip

# OS files
.DS_Store
Thumbs.db

.aws/
backend/.serverless/
backend/node_modules/
backend/package-lock.json
backend/.aws-sam/
backend/coverage/
backend/logs/
backend/terraform/.terraform/
backend/terraform/.terraform.lock.hcl
backend/terraform/*.tfstate.*
backend/terraform/*.tfstate

backend/terraform/crash.log
backend/terraform/crash.log.*

backend/terraform/.terraformrc
backend/terraform/terraform.rc
backend/terraform/terraform.tfvars

backend/dist/*

