# Node
node_modules/
package-lock.json
build/
frontend/build/
frontend/node_modules/
frontend/package-lock.json
amplify/
amplify/*
frontend/.amplify/
frontend/terraform/.terraform/


# Serverless
.serverless/
.aws-sam/
coverage/
.env
.env.*
!.env.example

# Logs
logs
*.log
lerna-debug.log
*.zip

# OS files
.DS_Store
Thumbs.db

.aws/
backend/.serverless/
backend/node_modules/
backend/package-lock.json
backend/.aws-sam/
backend/coverage/
backend/logs/


*/terraform/.terraform/
backend/terraform/.terraform.lock.hcl
*/terraform/.terraform.lock.hcl
*/terraform/*.tfstate.*
*/terraform/*.tfstate

*/terraform/crash.log
*/terraform/crash.log.*

*/terraform/.terraformrc
*/terraform/terraform.rc
*/terraform/terraform.tfvars

backend/dist/*

