service: pnmac-project-backend

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  
functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /hello
          method: GET

plugins:
  - serverless-offline

